@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
.page1-area1 {
	height: 60px;
	background-color:aliceblue;
	position:relative;
	width:1100px;
}
.area1-img{
	position:absolute;
	height:50px;
	top:5px;
	left:400px;
}
.area1-h1{
	position:absolute;
	top:15px;
	left:500px;
	font-style:italic;
}
.area1-button{
	position:absolute;
	top:20px;
	left:950px;
	width:100px;
	background-color:aliceblue;
}
.button1{
	width:100px;
	background-color:aliceblue;
}
.page1-area2{
	height: 30px;
	background-color:cornflowerblue;
	position:relative;
}
.area2-div1{
	position:absolute;
}

.area2-div1{
	position:absolute;
	 text-align:center;
	 color:#FFFFFF;
	width:120px;
	height:30px;
	left:350px;
	background-color:dodgerblue;
}
.area2-div2{
	position:absolute;
	 text-align:center;
	 color:#FFFFFF;
	width:120px;
	height:30px;
	left:472px;
	background-color:dodgerblue;
}
.area2-div3{
	position:absolute;
	text-align:center;
	color:#FFFFFF;
	width:120px;
	height:30px;
	left:594px;
	background-color:dodgerblue;
}
.area2-div4{
	position:absolute;
    text-align:center;
    color:#FFFFFF;
	width:120px;
	height:30px;
	left:716px;
	background-color:dodgerblue;
}
.area2-p{
   padding:6px;
}

.page1-area3{
	height: 600px;
	background-color:#F0F8FF;
	position:relative;
}
.area3-div1{
	position:absolute;
	height:200px;
	width:200px;
	top:8px;
	left:300px;
	background-color:dodgerblue;
}
.area3-div1-div{
	position:absolute;
	top:40px;
	left:60px;
}
.area3-div1-a{
	position:absolute;
	top:115px;
	left:63px;
	text-decoration: none;
	color:black;
}
.area3-div2{
	position:absolute;
	height:200px;
	width:200px;
	top:8px;
	left:508px;
	background-color:dodgerblue;
}
.area3-div2-div{
	position:absolute;
	top:40px;
	left:60px;
}
.area3-div2-a{
	position:absolute;
	top:115px;
	left:63px;
	text-decoration: none;
	color:black;
}


.area3-div3{
	position:absolute;
	height:200px;
	width:200px;
	top:8px;
	left:716px;
	background-color:dodgerblue;
}
.area3-div3-div{
	position:absolute;

	top:40px;
	left:60px;
}
.area3-div3-a{
	position:absolute;
	top:115px;
	left:63px;
	text-decoration: none;
	color:black;
}

